# For prelude, not required for denselora implementation
OPENAI_API_KEY = "your-key"
ANTHROPIC_API_KEY = "your-key"
GOOGLE_API_KEY = "your-key"

# For the first time downlaoding the llama-3-8B model, since it's gated
HF_TOKEN="your-key"

# For logging
WANDB_API_KEY="your-key"